.chart-container {
  margin-top: 20px;
  max-width: 26%; /* Reduce the width of the chart */
  max-height: 200px; /* Reduce the height of the chart */
  /* Center the chart */
  padding: 5px 30px 60px 30px;
  margin-left: 280px;
  background-color: white; /* Light gray background for the chart container */
  border-radius: 10px; /* Rounded corners */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; /* Light shadow for a 3D effect */
}

.chart-container:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

h3 {
  text-align: center;
  color: gray; /* Darker text color for the heading */
}

h4 {
  text-align: center;
  color: gray; /* Darker text color for the heading */
}

.sales-report-container {
  margin-top: -620px;
  margin-left: 280px;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  background-color: white;
  padding: 1px 15px 15px 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.sales-report {
  width: fit-content;
  display: flex;
  gap: 10px;
}

.sales-report-container:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sales-box {
  height: 60px;
  line-height: 1.2rem;
  width: 90px;
  font-size: 14px;
  text-align: center;
  color: gray;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (max-width: 768px) {
  .chart-container {
    max-width: 95%; /* Adjust width for smaller screens */
    max-height: 300px; /* Adjust height for smaller screens */
  }
}
